<div class="container" style="margin-top: 50px;">
  <h1 style="margin-bottom: 20px;">Leaderboard</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Placement</th>
        <th scope="col">Team</th>
        <th scope="col">Total Point</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <th scope="row">1</th>
        <td>Cloud 9 </td>
        <td>6</td>
      </tr>
      <tr class="table-success">
        <th scope="row">2</th>
        <td>Fnatic</td>
        <td>5</td>
      </tr>
      <tr class="table-warning">
        <th scope="row">3</th>
        <td>FazeClan</td>
        <td>4</td>
      </tr>
      <tr class="table-danger"> 
        <th scope="row">4</th>
        <td>NinjaInPjamas</td>
        <td>0</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">5</th>
        <td>Team Liquid</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>