<div class="container" style="margin-top: 50px;">
<h2 style="text-align: center; ">About Game</h2>


    <h2>CS:GO</h2>
    <p>Counter-Strike: Global Offensive is a multiplayer first-person shooter developed by Valve and Hidden Path Entertainment. It is the fourth game in the Counter-Strike series. Developed for over two years, Global Offensive was released for Windows, macOS, Xbox 360, and PlayStation 3 in August 2012, and for Linux in 2014.</p>
    <p>Download Now <a href="https://stmikpontianak.ac.id/moodle/my/">Di Sini</a></p>


</div>
